
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
        
        })

        function fnLogin(){
            
        }
    </script>
</head>
<body>
    <div class="container">
        <div class="col-md-12">
            <div class="row">
                <div class="form-group">
                    <label class="label col-md-2">아이디</label>
                    <input class="form-control" value="" placeholder="아이디" />
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label class="label col-md-2">Password</label>
                    <input class="form-control" value="" placeholder="password" />
                </div>
            </div>
            <button class="text-center" onclick="javascript: fnLogin();">확인</button>
        </div>
    </div>

</body>
</html>
